body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a5a7ee; /* Azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el contenido se centre verticalmente */
    color: #333;
  }
  
  /* Sección del formulario */
  section {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ancho fijo para el formulario */
    text-align: center;
  }
  
  /* Título del formulario */
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Estilo de las etiquetas de los campos */
  label {
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
    color: #555;
  }
  
  /* Estilo de los campos de texto */
  input[type="email"], input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  /* Estilo del botón de envío */
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #9b36a7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #a679a5;
  }
  
  /* Estilo del enlace para el registro */
  p {
    margin-top: 20px;
    font-size: 14px;
  }
  
  p a {
    color: #007BFF;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }